.App {
    font-family: sans-serif;
    text-align: center;
}

.product-image {
    width: 90vw;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10vw;
}

.controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
}
